{% extends "base.html" %}

{% block lab %} Лабораторная работа 4 {% endblock %}

{% block main %}
    <h1>Лабораторная 4</h1>
    <div>Тема лабораторной работы - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li> 
            <a href="/lab4/div-form">Деление</a>
        </li>

        <li> 
            <a href="/lab4/sum">Сумма</a>
        </li>

        <li> 
            <a href="/lab4/sub">Вычетаие</a>
        </li>

        <li> 
            <a href="/lab4/mul">Умножение</a>
        </li>

        <li> 
            <a href="/lab4/pow">Возведение в степень</a>
        </li>

        <li> 
            <a href="/lab4/division">Деление</a>
        </li>

        <li> 
            <a href="/lab4/tree">Деревья</a>
        </li>

        <li> 
            <a href="/lab4/login">Логин</a>
        </li>

        <li> 
            <a href="/lab4/fridge">Холодильник</a>
        </li>
    </ol>
{% endblock %} 
