{% extends "base.html" %}

{% block lab %} Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Поиск автомобилей по цене</h1>
    
    <form method="POST">
        <div>
            <label for="min_price">Мин. цена:</label>
            <input type="number" id="min_price" name="min_price" value="{{ min_price or '' }}" min="0">
        </div>
        <br>
        <div>
            <label for="max_price">Макс. цена:</label>
            <input type="number" id="max_price" name="max_price" value="{{ max_price or '' }}" min="0">
        </div>
        <br>
        <button type="submit">Искать</button>
    </form>

    <h2>Результаты поиска</h2>
    <ul>
        {% for car in cars %}
            <li>
                <strong>{{ car.name }}</strong>
                <ul>
                    <li>Бренд: {{ car.brand }}</li>
                    <li>Год выпуска: {{ car.year }}</li>
                    <li>Цена: {{ car.price }} $</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}