{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}

{% block main %}
    <h1>Лабораторная 3</h1>
    <div>Тема лабораторной работы-формы. Список сделанных страниц:</div>
    <div>
        Привет, <span style="color: {{name_color}}">{{ name }}</span>!
    </div>
    <ol>
        <li>
            <a href="/lab3/cookie">Куки</a>
        </li>

        <li>
            <a href="/lab3/form1">Форма</a>
        </li>

        <li>
            <a href="/lab3/order">Заказ напитка</a>
        </li>

    </ol>
{% endblock %} 
