{% extends "base.html" %}

{% block main %}
    <h1>Статьи</h1>

    <div class="filter-options">
        <form method="get" action="/lab5/list">
            <label for="filter">Фильтр:</label>
            {% if session.get('login_id') %}
                <select name="filter" id="filter" onchange="this.form.submit()">
                    <option value="all" {% if filter_type == 'all' %}selected{% endif %}>Все</option>
                    <option value="public" {% if filter_type == 'public' %}selected{% endif %}>Публичные</option>
                    <option value="private" {% if filter_type == 'private' %}selected{% endif %}>Личные</option>
                </select>
            {% endif %}
        </form>
    </div>

    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h2 class="article-title">{{ article['title'] }}</h2>
                <blockquote class="article-text">{{ article['article_text'] }}</blockquote>
                <div class="article-meta">
                    {% if article['is_public'] %}
                        <p>Публичная</p>
                    {% else %}
                        <p>Личная</p>
                    {% endif %}
                    <p>Автор: {{ article['creator_login'] }}</p> 
                    {% if article['is_favorite'] %}
                        <p>Любимая статья</p>
                    {% endif %}
                </div>
                <div class="article-actions">
                    {% if is_admin %}
                        <form action="/lab5/favorite/{{ article['id'] }}" method="post">
                            <button type="submit" class="btn btn-favorite">
                                {% if article['is_favorite'] %}
                                    Убрать из избранного
                                {% else %}
                                    Добавить в избранное
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}

                    {% if session.get('login_id') %}
                        {% if sqllite %}
                            {% if article['login_id'] == session['login_id'] or  is_admin%}
                                <a href="/lab5/edit/{{ article['id'] }}" class="btn btn-edit">Редактировать</a>
                                <form action="/lab5/delete/{{ article['id'] }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-delete">Удалить</button>
                                </form>
                            {% endif %}
                        {% else %}
                            {% if (article['user_id'] == session['login_id']) or  is_admin %}
                                <a href="/lab5/edit/{{ article['id'] }}" class="btn btn-edit">Редактировать</a>
                                <form action="/lab5/delete/{{ article['id'] }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-delete">Удалить</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет доступных статей.</p>
    {% endif %}
    <a href="/lab5/">Назад</a>
{% endblock %}