{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
    <h1>Лабораторная 5</h1>
    <div>Тема лабораторной работы - Формы (POST). Список сделанных страниц:</div>
    
    <!-- Проверяем, есть ли в сессии логин -->
    <p>Пользователь: {% if login %} {{ login }} {% else %} Anonymous {% endif %}</p>

    <ol>
        <li> 
            <a href="/lab4/login">Список статей</a>
        </li>
        <li> 
            <a href="/lab4/register">Создать статью</a>
        </li>
        <li> 
            <a href="/lab4/list">Войти</a>
        </li>
        <li> 
            <a href="/lab4/create">Регистрация</a>
        </li>
    </ol>
{% endblock %}

