body {
    background-color: #eeebd5; /* Цвет фона */
    color: #c0560b; /* Цвет текста */
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    font-size: 8em;
    margin-bottom: 10px;
}
p {
    color: #333;
    font-size: 1.5em;
}
img {
    width: 300px; /* Ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    border: 5px solid #8b4513; /* Рамка вокруг изображения */
    border-radius: 10px; /* Скругление углов */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px; /* Увеличивает отступы внутри ячеек */
    border: 1px solid #e09336; /* Добавляет границы для ячеек */
}
th {
    background-color: #dfd0be; /* Добавляет фон для заголовков */
}

