<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательская страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1.css') }}">
</head>
<body>
    <h1>Брауни классический</h1>
    <p>1. Шоколадный десерт брауни пришел к нам из американской кухни. Он может быть похож на торт или пирог – зависит от способа приготовления. Подают лакомство вместе с чаем, кофе и другими напитками. Берите на заметку 10 разнообразных рецептов с пошаговыми фото и подробным описанием процесса.</p>
    <p>2. Шоколад с маслом должен превратиться в гладкую однородную массу.</p>
    <p>3. Добавляем в горячую массу сахар и старательно его размешиваем.</p>
    <p>4. Даем содержимому остыть и разбиваем в него куриные яйца.</p>
    <p>5. Взбиваем заготовку и постепенно всыпаем просеянную муку с разрыхлителем</p>
    <p>6. Добавляем какао и вымешиваем лопаткой до однородности.</p>
    <p>7. Подготовленное жидкое тесто переливаем в форму, устланную фольгой.</p>
    <p>8. Выпекаем десерт 40 минут в разогретой до 170 градусов духовке.</p>
    <p>9. Классический шоколадный брауни готов. Делите его на порции и подавайте к столу!</p>

    <img src="{{ url_for('static', filename='custom.png') }}" alt="Пользовательская картинка">
</body>
</html>